@import "tailwindcss";

@theme {
  --color-foreground: #e0e0e0;
  --color-background: #121212;

  --color-green: #8a9e6f;
  --color-red: #f28c85;
  --color-orange: #f0c27a;
}

@font-face {
  font-family: 'onest'; 
  src: url('../src/assets/fonst/Onest-VariableFont_wght.ttf');
}

body {
  background: oklch(98.5% 0 0);
  min-height: 100dvh;
  font-family: 'onest', sans-serif;
}

#root {
  display: flex;
  min-height: 100dvh;
}
