@import "tailwindcss";

@theme {
  --color-foreground: #e0e0e0;
  --color-background: #121212;

  --color-green: #8a9e6f;
  --color-red: #f28c85;
  --color-orange: #f0c27a;
}

@font-face {
  font-family: 'onest'; 
  src: url('../src/assets/fonst/Onest-VariableFont_wght.ttf');
}

body {
  background: oklch(98.5% 0 0);
  font-family: 'onest', sans-serif;
}

@keyframes slide-up {
  from { transform: translateY(100%); }
  to   { transform: translateY(0); }
}

@media (max-width: 1023px) {
  dialog[open] {
    animation: slide-up 0.25s ease-out;
  }
}

#root {
  display: flex;
  min-height: 100dvh;
  max-height: 100dvh;
}
